<nav class="nav-bar"> 
    <ul class="nav-bar-ul">
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/works">Works</a></li>
      <li><a href="/photogallery">Photo gallery</a></li>
    </ul>
</nav>