<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Document</title>
</head>
<body>
    <nav class="nav-bar"> 
        <ul class="nav-bar-ul">
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/works">Works</a></li>
          <li><a href="/photogallery">Photo gallery</a></li>
        </ul>
    </nav>
    <div>
        <h1>J. R. R. Tolkien</h1>
        <img src="/images/Jrrt_1972_pipe.webp">
        <article>
            <p>John Ronald Reuel Tolkien CBE FRSL (3 January 1892 - 2 September 1973) was an English writer and philologist.
                 He was the author of the high fantasy works The Hobbit and The Lord of the Rings.</p>
        </article>
    </div>
</body>
</html>